asgiref==3.4.1
backports.zoneinfo==0.2.1
cssselect2==0.4.1
dj-database-url==0.5.0
Django==3.1.14
django-classy-tags==2.0.0
django-cms==3.8.0
django-filer==2.1.2
django-formtools==2.3
django-js-asset==1.2.2
django-mptt==0.13.4
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-treebeard==4.5.1
djangocms-admin-style==2.0.2
djangocms-attributes-field==2.0.0
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.13.1
easy-thumbnails==2.8
html5lib==1.1
lxml==4.7.1
Pillow==8.4.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
reportlab==3.6.5
six==1.16.0
sqlparse==0.4.2
svglib==1.1.0
tinycss2==1.1.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
Unidecode==1.1.2
webencodings==0.5.1
